<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<center class="m-5">
    <h1>No Found</h1>
    <p>The Resource you are looking for is temporary removed or does not exists.</p>
</center>

<%- include ../partials/footer %>
